<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ page.project.title }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ page.content | strip_html | strip_newlines }}">
	<meta name="keywords" content="{{ page.meta.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="project">
			<div class="container">
				<article>
					<span class="h2">ITEM NO</span>
					<h1>{{ page.project.title }}</h1>
					<div class="project-meta">
						<span class="h2">Dimensions</span>
						<p>{{ page.project.dimensions }}</p>
						<span class="h2">electrical</span>
						<p>{{ page.project.electrical }}</p>
						<span class="h2">Power</span>
						<p>{{ page.project.power }}</p>
						<span class="h2">Material</span>
						<p>{{ page.project.material }}</p>
						<span class="h2">Shade</span>
						<p>{{ page.project.shade }}</p>
						<span class="h2">Color</span>
						<p>{{ page.remark.color }}</p>
						<span class="h2">IP RATE</span>
						<p>{{ page.remark.ip }}</p>
					</div>
				</article>
				<aside>
					<ul>
						{% for image in page.images %}
						<li>
							<img src="{{ image.url | prepend: site.baseurl }}" alt="{{ image.alt }}" />
						</li>
						{% endfor %}
					</ul>
				</aside>
			</div>
		</section>
		<section class="project-navigation">
			<div class="container">
				{% if page.project.showsencondindex  %}
				<a title="{{ page.project.belongto }}" href="../" class="prev"><span class="h2"><h2>BACK TO LIST</h2></span></a>
				{% endif %}
			</div>
		</section>
		<section class="project-navigation" hidden>
			<div class="container">
				{% if page.previous and page.previous.categories contains "projects" %}
				<a title="Previous {{ page.previous.project.title }}" href="{{ page.previous.url | prepend: site.baseurl }}" class="prev">
					<span class="h2">Previous</span>
					<h2>{{ page.previous.project.title }}</h2>
				</a>
				{% endif %}
				{% if page.next and page.next.categories contains "projects" %}
				<a title="Next {{ page.next.project.title }}" href="{{ page.next.url | prepend: site.baseurl }}" class="next">
					<span class="h2">Next</span>
					<h2>{{ page.next.project.title }}</h2>
				</a>
				{% endif %}
			</div>
		</section>
	</main>
	<script src="{{ "/assets/scripts/vendor/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/sticky-kit.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/project.js" | prepend: site.baseurl }}"></script>
</body>
</html>
