<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="projects">
			<div class="container">
				{% if page.type == "New Arrivals" %}
					<h2>{{page.type}}</h2>
				{% else %}
					<h2>{{page.type}} Lamps we provided</h2>
				{% endif %}
				<ul class="projects-list">
					{% if page.type == "New Arrivals" %}
						{% for item in site.categories.projects reversed %}
							{% if item.newarrive == true and item.recommand == true %}
								<li>
									<a href="{{ item.url | prepend: site.baseurl }}">
										<div class="img-wrapper-detail">
											<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
										</div>
										<span class="h2">{{ item.project.type }}</span>
										<h3>{{ item.project.title }}</h3>
									</a>
								</li>
							{% endif %}
						{% endfor %}
						{% for item in site.categories.projects reversed %}
							{% if item.newarrive == true and item.recommand == false %}
								<li>
									<a href="{{ item.url | prepend: site.baseurl }}">
										<div class="img-wrapper-detail">
											<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
										</div>
										<span class="h2">{{ item.project.type }}</span>
										<h3>{{ item.project.title }}</h3>
									</a>
								</li>
							{% endif %}
						{% endfor %}
					{% else %}
						{% for item in site.categories.projects reversed %}
							{% if item.project.belongto contains page.type and item.recommand == true %}
								<li>
									<a href="{{ item.url | prepend: site.baseurl }}">
										<div class="img-wrapper-detail">
											<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
										</div>
										<span class="h2">{{ item.project.type }}</span>
										<h3>{{ item.project.title }}</h3>
									</a>
								</li>
							{% endif %}
						{% endfor %}
						{% for item in site.categories.projects reversed %}
							{% if item.project.belongto contains page.type and item.recommand == false %}
								<li>
									<a href="{{ item.url | prepend: site.baseurl }}">
										<div class="img-wrapper-detail">
											<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
										</div>
										<span class="h2">{{ item.project.type }}</span>
										<h3>{{ item.project.title }}</h3>
									</a>
								</li>
							{% endif %}
						{% endfor %}
					{% endif %}
				</ul>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>
